<!DOCTYPE html>
<html>
  <head>
    <title>PLAYGROUNDr</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        float: left;
        height: 100%;
        width: 60%; 
      }
      #column {
        float: right;
        width: 40%;
        height: 100%;
      }
      #results {
        height: 75%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="column">
      <div id="title">
        <h1> PLAYGROUNDr </h1>
      </div>
      <div id="options"> 
        <form action="/index" name="location_change" id="location_change" method="post">
          <input type="text" name="location_field" id="location_field" placeholder="Enter new location"/>
          <input type="submit" id="location_btn" value="Change location"/>
        </form>
        <h2> Search options: </h2>
        <p id="top-amenities">
          <input type="checkbox" name="amenity" value="Playground"> Playground
          <input type="checkbox" name="amenity" value="Splash pad"> Splash pad
          <input type="checkbox" name="amenity" value="Pool"> Pool
          <input type="checkbox" name="amenity" value="Ice rink"> Ice rink
        </p>
        <p id="bottom-amenities">
          <input type="checkbox" name="amenity" value="Restroom"> Restroom
          <input type="checkbox" name="amenity" value="Sports field"> Sports field
          <input type="checkbox" name="amenity" value="Dog park"> Dog park
        </p>
      </div>
      <div id="results" style="overflow-x:auto; height:75%;">
        <p id="placestatus">{{status}}</p>
      </div>
    </div>
    <div id="infowindow-content">
      <img id="place-icon" src="" height="16" width="16">
      <span id="place-name"  class="title"></span><br>
    </div>
    <script>
    
      //This function initializes a new embedded Google Map   
      function initMap() {
        var origin = {{origin|safe}};//{lat: 43.65, lng: -79.38};
        var zoom = {{zoom|safe}};
        var markers = Array();

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: zoom,
          center: origin
        });
        var clickHandler = new ClickEventHandler(map, origin, zoom);
      }

      /**
       * @constructor
       */
      // Create a new event handler to interpret user clicks on the map and set
      // content of an info window
      var ClickEventHandler = function(map, origin, zoom) {
        this.map = map;
        this.markers = [];
        this.placesService = new google.maps.places.PlacesService(map);
        this.infowindow = new google.maps.InfoWindow;
        this.infowindowContent = document.getElementById('infowindow-content');
        this.infowindow.setContent(this.infowindowContent);

        // Listen for clicks on the map.
        this.map.addListener('click', this.handleClick.bind(this));
      };
      
      addMarkers = function(containers,location,i) {
          containers.markers.push(new google.maps.Marker({position: location, label: (i+1).toString(10), map: containers.map}));
      };
      
      //Handles user clicks on the map and uses them to drive app functionality
      ClickEventHandler.prototype.handleClick = function(event) {
        console.log('You clicked on: ' + event.latLng);
        console.log('You clicked on map center: ' + this.map.center)
        this.map.setCenter(event.latLng);
        // If the event has a placeId, use it.
        if (event.placeId) {
          console.log('You clicked on place:' + event.placeId);

          // Calling e.stop() on the event prevents the default info window from
          // showing.
          // If you call stop here when there is no placeId you will prevent some
          // other map click event handlers from receiving the event.
          //event.stop();
          //Send the event id to the server, which will use it to look up
          //location reviews and run them through the model. The results are
          //then parsed into an HTML structure allowing for multiple results
          //in a list.
          //Use AJAX to query the server
          $.post('/singlepark', {
              placeid : event.placeId
              }).done(function(response) {
                  //Take the server response and parse it
                  $('#results').empty()
                  //Build a list of the locations passed in the response
                  ulist = document.createElement("OL");
                  for (i=0; i < response['results'].length; i++) {
                      //For each location, list the name, address, and amenities
                      litem = document.createElement("LI");
                      col = document.createElement("DIV");
                      locTitle = document.createElement("STRONG");
                      locTitle.innerHTML = response['results'][i]['name'];
                      locAddress = document.createElement("P");
                      locAddress.innerHTML = response['results'][i]['address'];
                      locStatus = document.createElement("P");
                      locStatusInner = document.createElement("I");
                      locStatusInner.innerHTML = response['results'][i]['text'];
                      locStatus.appendChild(locStatusInner);
                      locAmenity = document.createElement("P");
                      amenities = response['results'][i]['amenities'];
                      scores = response['results'][i]['scores'];
                      //Bold amenities that are present at the location
                      for (j=0; j < amenities.length; j++) {
                          if (scores[j]=="1") {
                              amenity = document.createElement("B");
                              amenity.innerHTML = " ".concat(amenities[j]," |");
                          } else {
                              amenity = document.createElement("SPAN");
                              amenity.innerHTML = " ".concat(amenities[j]," |");
                          }
                          locAmenity.appendChild(amenity);
                      }
                      col.appendChild(locTitle);
                      col.appendChild(locAddress);
                      col.appendChild(locStatus);
                      col.appendChild(locAmenity);
                      litem.appendChild(col)
                      ulist.appendChild(litem)
                      }
                  $('#results').append(ulist)
            });
            
            this.getPlaceInformation(event.placeId);
          
        } else {

          // Calling e.stop() on the event prevents the default info window from
          // showing.
          // If you call stop here when there is no placeId you will prevent some
          // other map click event handlers from receiving the event.
          //event.stop();
          //Send the event id to the server, which will use it to look up
          //location reviews and run them through the model. The results are
          //then parsed into an HTML structure allowing for multiple results
          //in a list.
          //Use AJAX to query the server
          
          //Retrieve search options
          searchOptions = Array()
          amens = document.getElementById("top-amenities").children
          for (i=0; i < amens.length; i++){
            searchOptions.push(amens[i].checked)
          }
          amens = document.getElementById("bottom-amenities").children
          for (i=0; i < amens.length; i++){
            searchOptions.push(amens[i].checked)
          }
          
          //Remove markers from the map
          for (i=0; i < this.markers.length; i++) {
              this.markers[i].setMap(null);
          }
          this.markers.length = 0;
          //Add a marker to the search location
          this.markers.push(new google.maps.Marker({position:event.latLng,map:this.map,label:"0"}));
          $.ajax({
              url: '/multipark', 
              type: "POST",
              data: {
                  lat : event.latLng.lat,
                  lon : event.latLng.lng,
                  search : JSON.stringify(searchOptions)},
              custom : this
              }).done(function(response) {
                  //Take the server response and parse it
                  $('#results').empty()
                  //Build a list of the locations passed in the response
                  ulist = document.createElement("OL");
                  for (i=0; i < response['results'].length; i++) {
                      console.log('Processing result ' + i);
                      //Add a marker for each location found
                      addMarkers(this.custom,response['results'][i]['location'], i);
                      //For each location, list the name, address, and amenities
                      litem = document.createElement("LI");
                      col = document.createElement("DIV");
                      locTitle = document.createElement("STRONG");
                      locTitle.innerHTML = response['results'][i]['name'];
                      locAddress = document.createElement("P");
                      locAddress.innerHTML = response['results'][i]['address'];
                      locStatus = document.createElement("P");
                      locStatusInner = document.createElement("I");
                      locStatusInner.innerHTML = response['results'][i]['text'];
                      locStatus.appendChild(locStatusInner);
                      locAmenity = document.createElement("P");
                      amenities = response['results'][i]['amenities'];
                      scores = response['results'][i]['scores'];
                      //Bold amenities that are present at the location
                      for (j=0; j < amenities.length; j++) {
                          if (scores[j]=="1") {
                              amenity = document.createElement("B");
                              amenity.innerHTML = " ".concat(amenities[j]," |");
                          } else {
                              amenity = document.createElement("SPAN");
                              amenity.innerHTML = " ".concat(amenities[j]," |");
                          }
                          locAmenity.appendChild(amenity);
                      }
                      col.appendChild(locTitle);
                      col.appendChild(locAddress);
                      col.appendChild(locStatus);
                      col.appendChild(locAmenity);
                      litem.appendChild(col);
                      ulist.appendChild(litem);
                      }
                  $('#results').append(ulist);
            });
        }
      };
      
      //Generate an info window on clicked Google Places
      ClickEventHandler.prototype.getPlaceInformation = function(placeId) {
        var me = this;
        this.placesService.getDetails({placeId: placeId}, function(place, status) {
          if (status === 'OK') {
            me.infowindow.close();
            me.infowindow.setPosition(place.geometry.location);
            me.infowindowContent.children['place-icon'].src = place.icon;
            me.infowindowContent.children['place-name'].textContent = place.name;
            //me.infowindowContent.children['place-id'].textContent = place.place_id;
            //me.infowindowContent.children['place-address'].textContent =
                place.formatted_address;
            me.infowindow.open(me.map);
          }
        });
      };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&libraries=places&callback=initMap"
        async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
          url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  </body>
</html>